# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.opensdf
*.sdf
メニュー/GLGame/Debug/C3DObj.obj
メニュー/GLGame/Debug/Camera.obj
メニュー/GLGame/Debug/cl.command.1.tlog
メニュー/GLGame/Debug/CL.read.1.tlog
メニュー/GLGame/Debug/CL.write.1.tlog
メニュー/GLGame/Debug/GameWnd.obj
メニュー/GLGame/Debug/GLGame.exe.embed.manifest
メニュー/GLGame/Debug/GLGame.exe.embed.manifest.res
メニュー/GLGame/Debug/GLGame.exe.intermediate.manifest
メニュー/GLGame/Debug/GLGame.lastbuildstate
メニュー/GLGame/Debug/GLGame.log
メニュー/GLGame/Debug/GLGame.write.1.tlog
メニュー/GLGame/Debug/GLGame_manifest.rc
メニュー/GLGame/Debug/Graphics.obj
メニュー/GLGame/Debug/Input.obj
メニュー/GLGame/Debug/link-cvtres.read.1.tlog
メニュー/GLGame/Debug/link-cvtres.write.1.tlog
メニュー/GLGame/Debug/link.196-cvtres.read.1.tlog
メニュー/GLGame/Debug/link.196-cvtres.write.1.tlog
メニュー/GLGame/Debug/link.196.read.1.tlog
メニュー/GLGame/Debug/link.196.write.1.tlog
メニュー/GLGame/Debug/link.command.1.tlog
メニュー/GLGame/Debug/link.read.1.tlog
メニュー/GLGame/Debug/link.write.1.tlog
メニュー/GLGame/Debug/Main.obj
メニュー/GLGame/Debug/MainScene.obj
メニュー/GLGame/Debug/Matrix.obj
メニュー/GLGame/Debug/Mesh.obj
メニュー/GLGame/Debug/MeshObj.obj
メニュー/GLGame/Debug/mt.command.1.tlog
メニュー/GLGame/Debug/mt.read.1.tlog
メニュー/GLGame/Debug/mt.write.1.tlog
メニュー/GLGame/Debug/Player.obj
メニュー/GLGame/Debug/rc.command.1.tlog
メニュー/GLGame/Debug/rc.read.1.tlog
メニュー/GLGame/Debug/rc.write.1.tlog
メニュー/GLGame/Debug/Scene.obj
メニュー/GLGame/Debug/Sky.obj
メニュー/GLGame/Debug/Sound.obj
メニュー/GLGame/Debug/SplashScene.obj
メニュー/GLGame/Debug/Texture.obj
メニュー/GLGame/Debug/tga.obj
メニュー/GLGame/Debug/TitleScene.obj
メニュー/GLGame/Debug/vc100.idb
メニュー/GLGame/Debug/vc100.pdb
メニュー/GLGame/Debug/Window.obj
メニュー/GLGame/GLGame.vcxproj.user
メニュー/GLGame/Release/C3DObj.obj
メニュー/GLGame/Release/Camera.obj
メニュー/GLGame/Release/cl.command.1.tlog
メニュー/GLGame/Release/CL.read.1.tlog
メニュー/GLGame/Release/CL.write.1.tlog
メニュー/GLGame/Release/GameWnd.obj
メニュー/GLGame/Release/GLGame.exe.intermediate.manifest
メニュー/GLGame/Release/GLGame.lastbuildstate
メニュー/GLGame/Release/GLGame.log
メニュー/GLGame/Release/GLGame.write.1.tlog
メニュー/GLGame/Release/Graphics.obj
メニュー/GLGame/Release/Input.obj
メニュー/GLGame/Release/link.command.1.tlog
メニュー/GLGame/Release/link.read.1.tlog
メニュー/GLGame/Release/link.write.1.tlog
メニュー/GLGame/Release/Main.obj
メニュー/GLGame/Release/MainScene.obj
メニュー/GLGame/Release/Matrix.obj
メニュー/GLGame/Release/Mesh.obj
メニュー/GLGame/Release/MeshObj.obj
メニュー/GLGame/Release/mt.command.1.tlog
メニュー/GLGame/Release/mt.read.1.tlog
メニュー/GLGame/Release/mt.write.1.tlog
メニュー/GLGame/Release/Player.obj
メニュー/GLGame/Release/Scene.obj
メニュー/GLGame/Release/Sky.obj
メニュー/GLGame/Release/Sound.obj
メニュー/GLGame/Release/SplashScene.obj
メニュー/GLGame/Release/Texture.obj
メニュー/GLGame/Release/tga.obj
メニュー/GLGame/Release/TitleScene.obj
メニュー/GLGame/Release/vc100.pdb
メニュー/GLGame/Release/Window.obj
